@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #379683;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;


    height: 100%;
    width: 100%;

    padding: 50px;

}

.container {
    display: flex;
    flex-direction: column;

    max-width: 50vw;
    padding: 50px;

    border-radius: 20px;
}

.bg {
    width: 70vw;
    background-color: #5CDB95;

    box-shadow:  0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:  0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.container h1 {
    width: 70%;
    margin: 0 auto;
    font: 700 2rem "Raleway", sans-serif;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.container h2 {
    font: 500 1.5rem "Raleway", sans-serif;
    color:#379683;
    text-align: left;

    /* #05386B */
    /* #379683 */
    /* #8EE4AF */
}

.container .section {
    padding: 15px 0;
}

.container .section p {
    margin: 10px 0;
    font: 500 1.25rem "Roboto", sans-serif;
    color: #2e6e61
}

.container .section label {
    position: relative;
}

.container .section input {
    height: 3rem;
    border: 3px solid #379683;
    border-radius: 5px;
    outline: none;
    padding: 10px 10px;

    font-size: 1.2rem;
    background-color: #379683;
    color:#EDF5E1;

    transition: all 0.2s;

    appearance: textfield;  
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.container .section input:hover,
.container .section input:focus {
    border: 3px solid #2d7768;
}

.potencia input {
    width: 6.1rem;
}

.tempo input {
    width: 4.2rem;
}

.preco input {
    width: 7rem;
}

.container .section label .unit {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color:#2e6e61;

}

.container .section input::placeholder {
    color:#5CDB95;
}

.container .section .divider {
    color:#2e6e61;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0 10px;
}

.container a {
    color:#2e6e61;
    font-weight: 500;
}

.dropbtn {
    font: 500 1.2rem "Roboto", sans-serif;
    background-color: #379683;
    color:#EDF5E1;
    height: 3rem;

    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 5px;

    max-height: 0;
    overflow: auto;
	-webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
    border-radius: 7px;

    position: absolute;
    background-color: #3faa94;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font: 400 1rem "Roboto", sans-serif;

    color: #EDF5E1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2d7768;
}

.dropdown:hover .dropdown-content {
    max-height: 15rem;
}

.calc {
    margin: 0 auto;
}

.calc button {
    width: 7rem;
    max-height: 4rem;
    border: 3px solid #379683;
    border-radius: 5px;
    outline: none;
    padding: 10px 10px;

    font-size: 1.2rem;
    background-color: #379683;
    color:#EDF5E1;

    transition: all 0.2s;

    cursor: pointer;
}

.calc button:hover {
    border: 3px solid #2d7768;
}

.calc button:focus {
    background-color: #2d7768;
    border: 3px solid #2d7768;
}

.credits {
    text-align: center;
    font: 400 1.1rem "Roboto", sans-serif;
    color: #2e6e61;
    margin-top: 2rem;
}

.credits span {
    font: 500 1.1rem "Roboto", sans-serif;
    margin-top: 7px;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    margin-top: 25px;
    transition: all;
    transition-duration: 0.3s;
}
table {
    border-spacing: 2rem 0.3rem; 
}

th {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #379683;
    font: 500 1.25rem "Raleway", sans-serif;
}

td {
    font: 400 1.15rem "Roboto", sans-serif;

    color: #2e6e61;  
}